.productsCardConteiner {
    height: 430px;
    width: 280px;
}

.productsCardContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsCardImg {
    height: 200px;
    width: 22px;
}

.productsCardName {}


.productsCardType {}

.productsCardPrice {}

.productsCardGost {}